HeavyClient/Connected Services/RoutingWithBikes/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetItineraryBetweenTwoAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startingAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItineraryBetweenTwoAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoutingWithBikes" minOccurs="0" name="GetItineraryBetweenTwoAddressResult" nillable="true" type="q1:ArrayOfRouting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationLogList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationLogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStationLogListResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>