HeavyClient/Connected Services/RoutingWithBikes/RoutingWithBikes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingWithBikes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikes" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/RoutingWithBikes/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoutingWithBikes_GetItineraryBetweenTwoAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryBetweenTwoAddress" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetItineraryBetweenTwoAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryBetweenTwoAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetStationLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationLogList" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetStationLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationLogListResponse" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetStationLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationLog" />
  </wsdl:message>
  <wsdl:message name="IRoutingWithBikes_GetStationLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoutingWithBikes">
    <wsdl:operation name="GetItineraryBetweenTwoAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetItineraryBetweenTwoAddress" message="tns:IRoutingWithBikes_GetItineraryBetweenTwoAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetItineraryBetweenTwoAddressResponse" message="tns:IRoutingWithBikes_GetItineraryBetweenTwoAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetStationLogList" message="tns:IRoutingWithBikes_GetStationLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetStationLogListResponse" message="tns:IRoutingWithBikes_GetStationLogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetStationLog" message="tns:IRoutingWithBikes_GetStationLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoutingWithBikes/GetStationLogResponse" message="tns:IRoutingWithBikes_GetStationLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapEndPnt2" type="tns:IRoutingWithBikes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItineraryBetweenTwoAddress">
      <soap:operation soapAction="http://tempuri.org/IRoutingWithBikes/GetItineraryBetweenTwoAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationLogList">
      <soap:operation soapAction="http://tempuri.org/IRoutingWithBikes/GetStationLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationLog">
      <soap:operation soapAction="http://tempuri.org/IRoutingWithBikes/GetStationLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingWithBikes">
    <wsdl:port name="SoapEndPnt2" binding="tns:SoapEndPnt2">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LetsGoBiking/RoutingWithBikes" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>